<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>CRUD - GRUPO 5</title>
</head>



<body>
<br><br>
<h1>Lista de Estudiantes</h1>
    <section>
      <br>
        <button  (click)="registrarStudent()" class="btn btn-primary">Nuevo Estudiante</button>
        <div class="container">
            <table class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Courses</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of student">
                        <td> {{student.id}}</td>
                        <td> {{student.firstName}}</td>
                        <td> {{student.lastName}}</td>
                        <td>{{student.email}}</td>
                        <td>

                        </td>
                        <td>
                          <button (click)="actualizarStudent(student.id)" class="btn btn-primary">Editar</button>&nbsp;&nbsp;&nbsp;
                          <button (click)="eliminarStudent(student.id)" class="btn btn-danger">Eliminar</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>
