<body>


<div class="col-md-6 offset-md-3">
  <br><br><br><br>
  <h3 class="text-center" style="color: white;">Registro de Profesor</h3>
  <form (ngSubmit)="onSubmit()" #profesorForm = "ngForm">
    <div class="form-group">
      <label style="color: white;">Nombre : </label>
      <input type = "text"
      class="form-control"
      id = "Nombre"
      [(ngModel)]="profesor.nombre" name = "Nombre" required
      minlength="4"
      maxlength="10"
      placeholder="Digite su nombre "
      #nombre = "ngModel" >
      <div class="alert alert-danger" *ngIf= "nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf = "nombre.errors.required">
          Digite su nombre por favor
        </div>
        <div *ngIf = "nombre.errors.minlength">
          El nombre tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf = "nombre.errors.maxlength">
          El nombre tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label style="color: white;">Email : </label>
      <input type = "email"
      class="form-control"
      id = "email"
      [(ngModel)] = "profesor.email"
      name = "email"
      pattern ="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
      required
      placeholder="Digite su email "
      #email = "ngModel"
      >
      <div class="alert alert-danger" *ngIf= "email.invalid && (email.dirty || nombre.touched)">
        <div *ngIf = "email.errors.required">
          Digite su email por favor
        </div>
        <div *ngIf = "email.errors.pattern">
          Por favor digite el email con el siguiente formato : user100@gmail.com
        </div>
      </div>
    </div>
    <div class="form-group">
      <label style="color: white;">Telefono : </label>
      <input type = "telefono"
      class="form-control"
      id = "number"
      [(ngModel)] = "profesor.telefono"
      name = "number"
      pattern="&#91;0-9&#93;{9}"
      required
      placeholder="Digite su telefono "
      #telefono = "ngModel"
      >




    </div>
<br>
    <button class="btn btn-success"  [disabled]= "!profesorForm.form.valid">Guardar</button>
  </form>
</div>

</body>
